    *.csv
    mlruns/
    mlflow.db
    src/phishing/mlruns/
    src/phishing/mlflow.db
    __pycache__/
    *.pyc
   .env
   .python-version
   EOF

mlruns/
mlflow.db
src/phishing/mlruns/
src/phishing/mlflow.db
