# Core ML / dados
torch>=2.1.0
torchvision>=0.16.0
transformers>=4.36.0
datasets>=2.16.0
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.3.0
pyyaml>=6.0.1

# MLflow (tracking + registry + observabilidade)
mlflow>=2.10.0

# Serviço de inferência
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
pydantic>=2.5.0
python-multipart>=0.0.6
