# LLM e Orquestração
langchain
langchain-google-genai
google-genai

# Banco Vetorial (RAG)
chromadb
sentence-transformers

# Leitura de PDFs
pypdf2
pdfplumber

# Interface Web
streamlit

# Utilitários
python-dotenv