HF_TOKEN=
HF_MODEL_ID=Anwarkh1/Skin_Cancer-Image_Classification
LOCAL_MODEL_PATH=
ALLOW_LABEL_MISMATCH=0
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=classificacao_cancer_pele